
body,dl,dt,dd,h1,h2,h3,h4,p,ul,ol,li,th,td,input,button,select,textarea,iframe { margin:0; padding:0}
img { border:0}
input:focus::-moz-placeholder { color:transparent}
input:focus::-webkit-input-placeholder { color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
textarea { resize:vertical}
table { border-collapse:collapse; border-spacing:0}
ul { list-style:none}
input { -webkit-user-modify:read-write-plaintext-only; -webkit-tap-highlight-color:rgba(0,0,0,0)}
input[type=checkbox],input[type=radio] { vertical-align:middle}

html { height:100%; font:12px/1.5 "Microsoft Yahei","Lucida Grande",Helvetica,Arial; color:#272727; position:relative}
body { min-width:1050px; background:#F8FDFF}
a{    text-decoration: none;}
a:hover,a:focus{    text-decoration: none;}
/* 可共用得 */
.clear:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
@media (min-width: 1024px){
.main-box{
	width: 1200px;
	margin: 0 auto;
}
.erwei-m {
	position: absolute;
	top: 20%;
	left: 54%;
}
/* .look-xq{
	padding: 58px 100px 60px;
} */
} /*>=1024的设备*/

@media (min-width: 1100px) {
.main-box{
	width: 1200px;
	margin: 0 auto;
}
.erwei-m {
	position: absolute;
	top: 20%;
	left: 54%;
}

}
@media (min-width: 1280px) {
.main-box{
	width: 1200px;
	margin: 0 auto;
}
.erwei-m {
	position: absolute;
	top: 20%;
	left: 54%;
}
} 

@media (min-width: 1366px) {
.main-box{
	width: 1200px;
	margin: 0 auto;
}
	.erwei-m {
		position: absolute;
		top: 20%;
		left: 54%;
	}
}  

@media (min-width: 1440px) {
.main-box{
	width: 1200px;
	margin: 0 auto;
}
	.erwei-m {
		position: absolute;
		top: 20%;
		left: 54%;
	}
} 

@media (min-width: 1680px) {
.main-box{
	width: 1440px;
	margin: 0 auto;
}
	.erwei-m {
		position: absolute;
		top: 20%;
		left: 43%;
	}
} 
@media (min-width: 1920px) {
.main-box{
	width: 1550px;
	margin: 0 auto;
}
	.erwei-m {
		position: absolute;
		top: 20%;
		left: 43%;
	}
} 



/* .main-box{
	width: 1200px;
	margin: 0 auto;
} */
/* 首页开始 */
.head-box{
	height: 80px;
	background-color: #f5f5f5;
}
.head-1{
	overflow-x: hidden;
	/* padding-top: 14px; */
}
.head-1 .head-img1{
	width: 206px;
	height: 49px;
	float: left;
	margin-top: 16px;
}
.head-2{
	float: right;
	text-align: center;
	cursor: pointer;
	margin-top: 10px;
}
.head-2 img{
	width: 44px;
	height: 44px;
	border-radius: 100%;
}
.head-2 p{
	font-size: 14px;
	color: #7d7e80;
	line-height: 28px;
}
.nav-bg{
	width: 100%;
	/* min-width: 1920px; */
	height: 111px;
	background:  url(../img/nav-bg.jpg) center center no-repeat;
	margin-top: 6px;
	-webkit-background-size: cover;
	background-size: cover;
}
.nav-ul{
	width: 900px;
	margin: 0 auto;
	overflow: hidden;
	padding-top: 20px;
}
.nav-ul li{
	float: left;
	width: 180px;
	text-align: center;
}

.nav-ul li a{
	display: inline-block;
}
.nav-ul li p{
	font-size: 18px;
	color: #fff;
	line-height: 40px;
}
.nav-ul li a:hover p{
	color:#9ec4f3 ;
}
.nav-ioc{
	width:37px;
	height: 40px;
	background:  url(../img/nav1-1.png) center center no-repeat; 
	display: inline-block;
}
.nav-ul li a:hover .nav-ioc{
	background:  url(../img/nav1.png) center center no-repeat;
}
.nav-ioc2{
	width: 33px;
	background:  url(../img/nav1-2.png) center center no-repeat;
}
.nav-ul li a:hover .nav-ioc2{
	background:  url(../img/nav2.png) center center no-repeat;
}
.nav-ioc3{
	width: 42px;
	background:  url(../img/nav1-3.png) center center no-repeat;
}
.nav-ul li a:hover .nav-ioc3{
	background:  url(../img/nav3.png) center center no-repeat;
}
.nav-ioc4{
	width: 43px;
	background:  url(../img/nav1-4.png) center center no-repeat;
}
.nav-ul li a:hover .nav-ioc4{
	background:  url(../img/nav4.png) center center no-repeat;
}
.nav-ioc5{
	width: 45px;
	background:  url(../img/nav1-5.png) center center no-repeat;
}
.nav-ul li a:hover .nav-ioc5{
	background:  url(../img/nav5.png) center center no-repeat;
}
.nav-ul li.nav-cont p{
	color:#9ec4f3 ;
}
.nav-ul li.nav-cont .nav-ioc{
	background:  url(../img/nav1.png) center center no-repeat;
}
.nav-ul li.nav-cont .nav-ioc2{
	background:  url(../img/nav2.png) center center no-repeat;
}
.nav-ul li.nav-cont .nav-ioc3{
	background:  url(../img/nav3.png) center center no-repeat;
}
.nav-ul li.nav-cont .nav-ioc4{
	background:  url(../img/nav4.png) center center no-repeat;
}
.nav-ul li.nav-cont .nav-ioc5{
	background:  url(../img/nav5.png) center center no-repeat;
}
.cont-1{
	overflow: hidden;
	font-size: 12px;
	padding: 18px 0;
	color: #666;
}
.cont-2{
	float: left;
}
.cont-3{
	float: right;
}
.cont-3 strong{
	font-weight: normal;
	margin-left: 10px;
}
.cont-4{
	border: 1px solid #B8C5D1;
	margin-bottom: 30px;
}
.cont-4 h3{
	font-size: 20px;
	color: #666;
	padding: 18px;
	background-color: #F3F9FC;
	border-bottom: 1px solid #B8C5D1;
}
.cont-5{
	padding: 40px  160px 60px;
}
.table-bordered.cont5-table{
	border: 1px solid #ADBBC9;
}
.cont5-cap{
	text-align: center;
	border: 1px solid #ADBBC9;
	border-bottom: 0;
	background-color: #E8F0FC;
	font-size: 22px;
	color: #2e2e31;
	font-weight: 600;
	padding: 18px 0; 
}
.cont5-table tbody  tr td{
	border: 0;
	padding-left: 30px;
	font-size: 15px;
	color: #313;
}
.cont5-table tbody  tr th{
	border: 1px solid #ADBBC9;
	background-color: #E8F0FC;
	font-size: 16px;
	color: #313;
	padding:14px 8px 14px 30px; 
	width: 130px;
}
.cont5-table tbody  tr td b{
	font-size: 21px;
	color: #ff0000;
}
.cont5-table2{
	margin-top: 40px;
	margin-bottom: 0;
}
.cont5-table2 .cont5-cap{
	background-color: #E9FCE8;
}
.cont5-table2.table-bordered > tbody{
	background-color: #E9FCE8;
}
.cont5-table2.table-bordered tbody tr:nth-child(2n){
	background-color: #fff;
}
.cont5-table2.table-bordered > thead, .cont5-table2.table-bordered > thead > tr > th{
	border-bottom-width: 0px;
	border: 1px solid #ADBBC9;
	background-color: #E9FCE8;
	font-size: 16px;
	color: #313131;
	padding: 15px 20px;
}
.cont5-table2.table-bordered > tbody  > tr > td{
	border: 1px solid #ADBBC9;
	font-size: 16px;
	color: #313131;
	padding: 15px 20px;
}
.foot-1{
	width: 100%;
	height: 66px;
	line-height: 66px;
	background-color: #CACBCC;
}
.foot-1 p{
	font-size: 16px;
	color: #313131;
	text-align: center;

}
/* 订单页面开始 */
.dingdan-box{
	border: 1px solid #A7B6C4;
	border-bottom: 0;
}
.dingdan-box h3{
	font-size: 20px;
	color: #666;
	padding: 15px 20px;
	border-bottom: 1px solid #A7B6C4;
	background-color: #F3F9FC;
}
#frm_search{
	text-align: center;
	background-color: #E0E9ED;
}
.order_pc .g_table_01{
	border: 1px solid #A7B6C4;
}
.order_pc .g_table_01 th,.shuju-table2 tr th {
    height: 41px;
    font-size: 14px;
    line-height: 41px;
    font-weight: normal;
    border: #A7B6C4 1px solid;
    background: #F3F9FC;
    text-align: left;
    padding-left: 10px;
}
.order_pc .g_table_01 td,.shuju-table2 tr td {
    padding: 9px 0;
    font-size: 14px;
    border: #A7B6C4 1px solid;
    text-align: left;
    padding-left: 10px;
    background-color: #fff;
}
.wrap_top_input .g_inp,.wrap_top_input .g_select,.wrap_top_input .pail-la {
    height: 30px;
    padding: 0px 6px;
    vertical-align: middle;
    font-size: 14px;
    border-radius: 2px;
    border: #A7B6C4 1px solid;
    display: inline-block;
    line-height: 30px;
    background-color: #fff;
    cursor: pointer;
}
.wrap_top_input .pail-la i{
	display: inline-block;
	width: 8px;
	height: 9px;
	background:  url(../img/pailie.png) right center no-repeat;
	margin-left: 5px;
}
.wrap_top_input .btn_green_xiao {
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    background: #2E8CE5;
    display: inline-block;
}
.underline {
    cursor: pointer;
    text-decoration: underline;
    color: #313131;
}
.g_page {
    padding: 40px;
    text-align: right;
    font-size: 14px;
}
.g_page .pagination{
	margin: 0px;
}
.g_page .pagination li a {
	margin-left: 6px;
}
.feny-span,.fen-go{
	position: relative;
	top: -11px;
	display: inline-block;
}
.fen-go .g_inp{
	padding: 6px 12px;
	font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 2px;
    outline: none;
    width: 50px;
    text-align: center;
    margin: 0 4px;
}
.fen-go .btn_white {
    width: 40px;
    text-align: center;
    padding: 7px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 2px;
    background: #CCC;
    display: inline-block;
}
.c_r {
    color: #f00;
}
.c_rl{
	color: #10782B;
}
.c_rh{
	color: #888;
}
.wrap_top_input {
    font-size: 14px;
    line-height: 60px;
    /* padding-left: 40px; */
    overflow: hidden;
}
.g_table_01 {
    width: 100%;
}
/* ....订单详情页开始 */
.look-xq{
	padding: 58px 0px 60px;
	position: relative;
}
.status {
    font-size: 14px;
    height: 70px;
    width: 884px;
    margin: 0 auto;
}
.dot_gr.dot_cr{
	width:34px;
	height:34px;
	background:url(../img/look-dui.png) no-repeat;float:left;
}
.dot_gr{
	width:34px;
	height:34px;
	background:url(../img/look5.png) no-repeat;float:left;
}
.status .jiantou,.status .jiantou2{
	width:178px;
	height:10px;
	background:url(../img/look-gong1.png) no-repeat center;
	float:left;
	margin-top:13px;
}
.status .jiantou2{
	background:url(../img/look-gong2.png) center center no-repeat ;
}
.status .node_name{
	min-width:68px;
	text-align: center;
	color:#888;
	margin-left:-16px;
	margin-top:-25px; 
	font-weight: bold;
}
.status .node_time{ 
	min-width:150px;
	color:#aaa;
	text-align:center;
	margin-left:-61px;
	margin-top:50px; 
}
.look-xinxi{
	width: 1000px;
	margin: 0 auto;
	margin-top: 30px;
}
.look-xinxi h4{
	height: 44px;
	line-height: 44px;
	font-size: 22px;
	color: #fff;
	background-color: #737C80;
	padding: 0 30px;
	font-weight: normal;
}
.look-xinxi-list{
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #C0D0D8;
	width: 100%;
	background-color: #F3F9FC;
	padding: 10px;
}
.look-xinxi-list li{
	width: 25%;
	font-size: 18px;
	color: #666;
	float: left;
	padding: 20px;
}
.look-xinxi-list li strong{
	font-size: 20px;
	color: #eb1d21;
}
.look-xinxi p{
	font-size: 14px;
	color: #807d79;
	padding: 30px;
	text-align: right;
}
.look-cat{
	width: 100%;
	border: 1px solid #ccc;
	padding: 30px;
	font-size: 14px;
	color: #333;
}
.look-cat1{
	overflow: hidden;
	position: relative;
}
.look-cat1 .g_inp{
	width: 180px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	text-align: center;
	padding: 0 36px;
}
.look-cat1 .look-cat-inp{
	width: 460px;
	padding: 0 20px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #ccc;
	margin-left: 22px;

}
.look-but{
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #fff;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    background: #2E8CE5;
    display: inline-block;
    float: right;
}
.look-all-input{
	padding: 30px 100px 0;
}
.look-all-input ul{
	overflow: hidden;
}
.look-all-input ul li{
	float: left;
	width: 50%;
	font-size: 14px;
	color: #333;
	margin-top: 15px;
}
.look-all-input ul li i{
	color: #f00;
	margin-right: 10px;
}
.look-all-input ul li input{
	width: 250px;
	height: 34px;
	line-height: 34px;
	padding: 0 8px;
	background-color: #F3F9FC;
	border: 1px solid #C0D0D8;
	border-radius: 2px;
	margin-left: 10px;
	font-size: 14px;
	color: #333;
}
.look-tabel{
	margin-top: 40px;
}
.look-tabel .look-tabel-1{
	height: 44px;
    line-height: 44px;
    font-size: 22px;
    color: #fff;
    background-color: #737C80;
    padding: 0 30px;
    border: 1px solid #737C80;
}
.look-tabel-1 strong{
	font-weight: normal;
}
.look-cat .look-tabel{
	border: 0;
	background-color: #fff;
}
.look-tabel tbody tr td{
	padding-left: 30px;
	border: 1px solid #C0D0D8;
}
.look-tabel tbody tr td:nth-child(2n+1){
	background-color: #F3F9FC;
	color: #333;
	font-weight: bold;
}
.look-tabel.look-tabe2 tbody tr td:nth-child(2n+1){
	background-color: #fff;
	color: #333;
	font-weight: normal;
}
.look-tabel.look-tabe2 tbody tr.look-tr td{
	background-color: #F3F9FC;
	font-weight: bold;
}
.look-cat1 i{
	display: inline-block;
	width: 12px;
	height: 12px;
	background:  url(../img/qingtime.png) right center no-repeat;
	position: absolute;
	top: 9px;
	right: 135px;
}
/* 数据统计页面 */
.shuju-box1{
	margin-bottom: 60px;
}
.wrap_top_input .shuju-span{
	font-size: 16px;
	color: #1b46bb;
	margin-left: 14px;
	cursor: pointer;
}
.shuju-table .g_table_01 tr th{
	background-color: #C6CACC;
}
.shuju-table .g_table_01 tr th:hover{
    transform: scale(1.1,1.1);
    box-shadow: 1px 3px 1px #CCCCCC;
    font-size: 16px;
}
.shuju-table2{
	border: 1px solid #A7B6C4;
	width: 100%;
}
.shuju-use{
	height: 30px;
	background-color: #fff;
	border-right: 1px solid #A7B6C4;
	border-left: 1px solid #A7B6C4;
}
.shuju-table2 tr th{
    background-color: #E3E8EB;
    position: relative;
}
.shuju-table2 tr:nth-child(2n+1) td{
	background-color: #C8CBCC;
}
.shuju-table2 tr th  i{
    display: inline-block;
    width: 8px;
    height: 9px;
    background:  url(../img/shuju-do.png) right center no-repeat;
    position: absolute;
    right: 10%;
    top: 40%;
}
.shuju-table2 .shuju-cap{
	height: 40px;
	background-color: #BBBEBF;
}
.cont-2 span{
	border-left: 2px solid #2c8ce5;
	padding-left: 5px;
}
/* 登录页 */
body {
	min-height: 100%;
	height: 100%;
}
body .BDD-login {
	width: 100%;
	min-height: 100%;
	height: auto;
	background:#1f76c1 url(../img/login.png) no-repeat;
}

.BDB-landing {
	height: 376px;
	position: absolute;
	width: 410px;
	top: 50%;
	margin-top: -188px;
	right: 16%;
	background: #FFFFFF;
}
.BDB-box{
	width: 330px;
	margin: 33px auto 0px;
}

.login-name,.login-password{
	display: inline-block;
	position: absolute;
	left: 15px;
	top: 50%;
	background: url(../img/icon.png) no-repeat;
}

.BDB-title{
	font-size: 20px;
	color: #666666;
	line-height: 18px;
	margin-bottom: 25px;
}

.login-name{
	background-position: 0px 0px;
	width: 13px;
	height: 15px;
	margin-top: -7px;
}
.login-password{
	background-position: 0px -15px;
	width: 13px;
	height: 16px;
	margin-top: -8px;
}

.BDB-line{
	margin-bottom: 16px;
	position: relative;
}
.BDB-moudles{
	padding: 0px 0px 0px 40px;	
	width: 288px;
	line-height: 42px;
	border-radius: 22px;
	border: 1px solid #c4d3db;
}
.BDB-input{
	outline: none;
	font-size: 14px;
	border: none;
	padding: 0px 6px 0px 0px;
	width: 282px;
	line-height: 42px;
	border-radius:0px  22px 22px 0;
}

.BDB-moudle-input{
	padding: 0px 6px 0px 40px;
	width: 282px;
	outline: none;
	line-height: 42px;
	border-radius: 22px;
	border: 1px solid #c4d3db;
	font-size: 14px;
}


.auth-code{
	float: left;
	width: auto;
	padding: 0;
}

.auth-code .BDB-input{
	width: 95px;
	padding: 0 21px 0 21px ;
	border-radius: 22px ;
}


.BDB-moudles-focus,.BDB-moudle-input:focus{
	background-color: #f1f9ff;
    border-color: #5d9de5 #67a1e2 #67a1e2 #5d9de5;
    box-shadow: 1px 1px 3px #d0dee6 inset;
}


.code-contet-btn {
	height: 44px;
}
.code-contet-btn span{
	width: 103px;
	height: 32px;
	margin-top: 5px;
	border: 1px solid #c0d0d8;
	display: inline-block;
}

.code-contet-btn span img{
	border: none;
	outline: none;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	font-size: 18px;
    text-align: center;
}

.code-contet-btn .code-btn{
	vertical-align: middle;
	color: #60a1f6;
	font-size: 14px;
	margin-left: 8px;
	margin-right: 5px;
}

.BDB-registered ,.BDB-password,.BDB-return{
	font-size: 14px;
}
.BDB-registered{
	color: #666666;
}
.BDB-password,.BDB-return{
	color: #60a1f6;
}

.BDB-btn button{
	width: 100%;
	line-height: 44px;
	border-radius: 22px;
	background: #60a1f6;
	color: #FFFFFF;
	font-size: 16px;
	text-align: center;
	border: none;
	outline: none;
	letter-spacing: 5px;
	text-indent: 5px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}


.BDB-prev{
	font-size: 14px;
	color: #4D4D4D;
	line-height: 12px;
	margin-bottom: 10px;
	margin-left: 11px;
}

.forgot-password .BDB-moudle-input,.new-password .BDB-moudle-input{
	padding-left: 20px;
	width: 302px;
}

.forgot-password .BDB-return,.new-password .BDB-return{
	margin-right: 38px;
}

.forgot-password .BDB-title,.new-password .BDB-title{
	margin-bottom: 42px;
}

.login-but-gray {
    background: darkgray;
    cursor: inherit;
}
.fr {
    float: right;
}
/* .........账户页面......... */
.zhanghu-box{
	border: 1px solid #D9D9D9;
}
.dingdan-box .zhanghu-tab li.active a{
	border:0;
	border-bottom: 2px solid #FF6C00;
	color: #FF6C00;
	font-size: 14px;
    padding: 15px 0px;
    background-color: #F9F9F9;
}
.dingdan-box .zhanghu-tab.nav > li > a:hover, .dingdan-box .zhanghu-tab.nav > li > a:focus {
    text-decoration: none;
    background-color: #F9F9F9;
   /*  border: 0; */
}
.dingdan-box .zhanghu-tab li a{
	border: 0;
	padding: 15px 0px;
	margin-right: 0;
}
.dingdan-box .zhanghu-tab li a span{
    padding: 0 25px;
    
}

.dingdan-box .zhanghu-tab li:nth-child(2n+1) a span{
	border-right: 1px solid #B7BBBE;
	border-left: 1px solid #B7BBBE;
}
.dingdan-box .zhanghu-tab li a.zhanghu-br span{
	border-left: 0;
}
#myTab{
	background-color: #F9F9F9;
}
/* 设置 */
.shezhi-box{
	padding: 30px 0px;
}
.g_writ_che{
    width: 1200px;
    min-height: 29px;
    padding-top: 10px;
    line-height: 29px;
    overflow: hidden;
}
.g_writ_che dt{
	font-size: 14px;
	color: #454545;
    float: left;
    text-align: right;
    padding-right: 10px;
    font-weight: normal;
    line-height: 30px;
}
.g_writ_che dt.g_yon{
    width: 300px;
}
.order_pc dd input{
	margin: 0;
	margin-right: 5px;
}
.g_writ_che dt.she1-dt{
	width: 140px;
}
.g_writ_che dd{
	line-height: 30px;
	float: left;
}
.she1-dl dd input,.she1-d2 dd .d2-inp{
	width: 126px;
	height: 34px;
	padding: 0 8px;
	border: 1px solid #C0D0D8;
	border-radius: 2px;
	margin-right: 3px;
}
.she1-d2 dd{
	margin-right: 25px;
}
.she-but{
	width: 600px;
	margin: 40px auto;
	background-color: #3493EE;
	font-size: 22px;
	color: #fff;
}
.btn.she-but:hover{
	color: #fff;
}
/* ......分支结构...... */
.fenzhi-box .btn_green{
	margin: 20px;
	background-color: #2E8CE5;
	width: 350px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	font-size: 24px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
	float: left;
}
.c_g{
	color: #437DB6;
}
.fenzhi-box1{
	margin-bottom: 50px;
}
#city{
	width: 128px;
	height: 22px;
	line-height: 22px;
	border:1px solid #A7B6C4;
	background-color: #F3F9FC;
	font-size: 14px;
	color: #2c8ce5;
	border-radius: 2px;
}
.zhbj-box{
	position: relative;
	padding: 80px 0;
}
.bianji-btn{
	width: 260px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: #3697F3;
	border-radius: 4px;
	font-size: 22px;
	color: #fff;
	display: inline-block;
	cursor: pointer;
}
/*.erwei-m{*/
	/*position: absolute;*/
	/*top: 20%;*/
	/*left: 43%;*/

/*}*/
.erwei-m dt{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
	color: #333;
	
}
.daili-but{
	padding: 18px 6px;
	background-color: #DFE1E6;
}
.daili-but span{
	font-size: 14px;
	color: #333;
	margin-right: 12px;
}
.dingdan-box .zhanghu-tab li a{
	font-size: 14px;
}
.daili-but .btn-primary{
	background-color: #87B9E8;
	border: 0;
	padding: 3px 10px;
}
.daili-but .btn-primary img{
	widows: 7px;
	height: 4px;
}
.btn_green.btn_green2{
	width:145px;
}
.active .panel{
	display: block;
	opacity: 1;
}
/*弹出框*/
.tan-box{
	width: 760px;
	margin: 0 auto;
	border: 1px solid #9a9da2;
	padding-bottom: 50px;
	position: absolute;
	left: 50%;
	margin-left: -380px;
	background-color: #fff;
	z-index: 5;
	-webkit-box-shadow:0 0 30px #666;
	-moz-box-shadow:0 0 30px #666;
	box-shadow:0 0 30px #666s;
}
.tan-tlt{
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
	font-size: 22px;
	color: #666;
	background-color: #f6f6f6;
}
.tan-tlt span{
	float: right;
	width: 30px;
	text-align: right;
	cursor: pointer;
}
.tan-cot{
	padding: 0 20px;
}
.tan-cot p{
	line-height: 40px;
}
.tan-p{
	padding: 20px 0;
	font-size: 12px;
	color: #f00;
	border-bottom: 1px dashed #bcbcbc;
}
.tan-sel{
	width: 200px;
	height: 30px;
}
.tan-text{
	width: 442px;
	min-height: 125px;
	padding: 10px;
	margin-bottom: 26px;
}























